# PostgreSQL

ConnectionStrings__DefaultConnection=Host=YOUR_HOST;Port=5432;Database=YOUR_DATABASE;Username=YOUR_USERNAME;Password=YOUR_PASSWORD;SSL Mode=Require;Trust Server Certificate=true

# JWT Authentication

Jwt__Key=YOUR_SUPER_SECRET_KEY

Jwt__Issuer=AscendraAPI

Jwt__Audience=AscendraClient

Jwt__ExpirationMinutes=60